[Unit]
Description=Run split-vpn
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/mnt/data/split-vpn/run-vpn.sh

[Install]
WantedBy=multi-user.target
