## Configuration file for IP set 

# Set this to the prefix for the IP set name that will be created.
# The script will create FORCED and EXEMPT versions of the IP set.
# This needs to be unique for every different IP set configuration file.
# e.g.: PREFIX="VPN_" will create IP sets "VPN_FORCED" and "VPN_EXEMPT".
PREFIX="VPN_"

# Add your forced domains here.
# Do not remove the opening or closing quotation marks.
FORCED_DOMAINS="
google.com
yahoo.com
whatismyip.com
mullvad.net
"

# Add your exempt domains here.
# Do not remove the opening or closing quotation marks.
EXEMPT_DOMAINS="
skipthedishes.com
whatismyipaddress.com
ifconfig.co
"

# Use these settings if you are using the built-in dnsmasq on the UDM/P.
DNSMASQ_CONFIG_FOLDER="/run/dnsmasq.conf.d"
RESTART_COMMAND="killall dnsmasq"
RELOAD_COMMAND="killall -HUP dnsmasq"

# Use these settings if you are using pihole on the UDM/P.
# Pihole MUST be running in the host network for this to work.
# Note, your DNSMASQ_CONFIG_FOLDER might be different depending on where you installed pihole.
#DNSMASQ_CONFIG_FOLDER="/mnt/data/pihole/etc-dnsmasq.d"
#RESTART_COMMAND="podman exec pihole pihole restartdns || podman restart pihole"
#RELOAD_COMMAND="podman exec pihole pihole restartdns reload"

# Time in cron format when the IP set cleanup will be run
# Default "0 6 * * *" is 6 AM everyday. 
CRON_TIME="0 6 * * *"
